.match-exposures-button {
	border: none;
	border-radius: 0.5rem;
	padding: 10px;
	font-size: large;
	box-shadow: none;
	background-color: #0076be;
}

.match-exposures-button:hover {
	background-color: #2f99dab7;
}

.auth-button {
	background: black;
	border-radius: 2rem;
	border: none;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
	color: white;
	height: 50px;
	width: 100px;
}

.auth-button:hover {
	color: white;
	cursor: pointer;
	border: 1px solid white;	
}
