.match-exposures-button {
	border: none;
	border-radius: 0.5rem;
	padding: 10px;
	font-size: large;
	box-shadow: none;
	background-color: #0076be;
}

.match-exposures-button:hover {
	background-color: #2f99dab7;
}

.auth-button, .delete-button {
	background: black;
	border-radius: 2rem;
	border: none;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
	color: white;
	height: 50px;
	width: 100px;
}

.auth-button:hover, .delete-button:hover {
	color: white;
	cursor: pointer;
	border: 1px solid white;	
}

.delete-button {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	align-items: center;
	text-align: center;
}

#delete-account-confirm-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1rem;
}