#user-profile-image {
	border-radius: 50%;
	margin: 1rem;
}

#user-profile-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	border-radius: 2rem;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

@media (max-width: 500px) {
	#user-profile-container {
		flex-direction: column;
	}
}

#profile-container {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

#user-profile-display-name {
	font-weight: bold;
	font-size: 48px;
}

#user-profile-data-container {
	margin: 1rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

#profile-description-editing-box > svg:hover {
	cursor: pointer;
}
