.App {
  /* color: white */
  /* display: flex; */
}

.exposure-1, .exposure-2 {
  display: flex;
  flex-direction: column;
}

.exposure-1 {
  margin-left: 10rem;
}

.exposure-2 {
  margin-right: 10rem;
}

#exposures-container {
  display: flex;
  justify-content: space-between;
}