.App {
  margin-left: 1rem;
}

label, #exp-1, #exp-2 {
  margin-bottom: 0.5rem;
}

input, select {
  margin-left: 0.5rem;
}

.exposure-1, .exposure-2 {
  display: flex;
  flex-direction: column;
}

#exp-1, #exp-2, #compare {
  font-size: large;
}

#compare {
  font-weight: bold;
}