body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: black;
	background-image: radial-gradient(white 5%, transparent 5%) 0 0,
		radial-gradient(white 5%, transparent 5%) 50px 50px,
		radial-gradient(white 5%, transparent 5%) 100px 100px;
	background-size: 100px 100px;
	background-color: #040c1b;
	overflow-x: hidden!important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
